
//Переменные---------------------------------------------------------------------------------------------------------------------------
$maxWidth: 1440px;
$minWidth: 320px;
$maxWidthContainer: 1200px;
$md1: 1200px;
$md3: 768px;
$md4: 375px;
$bgc: #ECF3FB; // Основной цвет фона
$ebgc: #1749B3; // Дополнительный цвет фона
$c: #FFFFFF; // Основной цвет
$bc: #FFFFFF; // цвет текста кнопки
$bbc: #1749B3; // цвет фона кнопки
$abc: #4B84FD; // цвет кнопки в активном состоянии
//Функции-----------------------------------------------------------------------------------------------------------------------------

//To %
@function prc($pxOne, $pxTwo) {
   $result: math.div($pxOne, $pxTwo) * 100%;
   @return $result;
}
//To REM
@function rem($px) {
   $result: math.div($px, 16) + rem;
   @return $result;
}
//To EM
@function em($px) {
   $result: math.div($px, 16) + em;
   @return $result;
}
//Отзывчивое свойство-----------------------------------------------------------------------------------------------------------------
//Миксины-----------------------------------------------------------------------------------------------------------------------------
//Кнопки------------------------------------------------------------------------------------------------------------------------------
@mixin tplbutton1 (){
   font-family: 'Gotham Pro';
   font-style: normal;
   font-weight: 700;
   font-size: 17px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: $bc;
   background-color: $bbc;
   border: solid 1px $bbc;
   border-radius: 16px;
   font-family: $fontFamily;
   @media (min-width: $md1){
      &:hover{
         transition: ease .45s;
         color: #171717;
         background-color: $bc;
      }
   }
   &:active{
      transition: ease .45s;
      color: $bc;
      background-color: $abc;
      border: solid 1px $abc;
   }
}

@mixin tplbutton2 (){
   font-family: 'Gotham Pro';
   font-style: normal;
   font-weight: 700;
   font-size: 17px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: $bc;
   background-color: #333333;
   border: solid 1px #333333;
   border-radius: 16px;
   font-family: $fontFamily;
   @media (min-width: $md1){
      &:hover{
         transition: ease .45s;
         color: #171717;
         background-color: $bc;
      }
   }
   &:active{
      transition: ease .45s;
      color: $bc;
      background-color: #606060;
      border: solid 1px #606060;
   }
}

//Формы ----
.password--input{
   
}


//Оболочка-----------------------------------------------------------------------------------------------------------------------------
.wrapper{
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
//Основная сетка-----------------------------------------------------------------------------------------------------------------------
._container{
   max-width: $maxWidthContainer + 64px;
   margin: 0 auto;
   @media (max-width: $md1)
   {
      padding: 0 32px 0 32px;
   }
   @media (max-width: $md3)
   {   
      padding: 0 32px 0 32px;
   }
   @media (max-width: $md4)
   {   
      padding: 0 32px 0 32px;
   }
}
//Шрифт по умолчанию--------------------------------------------------------------------------------------------------------------------
$fontFamily: 'Gotham Pro';
body{
   font-family: $fontFamily;
   background-color: $bgc;
}
//-------Заголовки----------------------------------------------------------------------------------------------------------------------
h1{
   font-family: 'Manrope', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 130%;
   color: #171717;
}
h2{
   font-family: 'Gotham Pro';
   font-weight: 700;
   font-size: 25px;
   line-height: 140%;
   text-align: center;
   color: #171717;
}
//----Текст-----------------------------------------------------------------------------------------------------------------------------
._description{
   font-family: $fontFamily;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: rgba($color: #ffffff, $alpha: .6);
   @media (max-width: $md4){
      font-size: 18px;
   }
}
._description--popup{
   font-family: $fontFamily;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: rgba($color: #000, $alpha: .6);
   @media (max-width: $md4){
      font-size: 18px;
   }
}

//-------------------------------------------------------------------------------------------------------------------------------------
